.gi{
    margin: 100px 0 0 200px;
    width:70%;
    height:350px;
    display: flex;
    justify-content: center;
    gap: 10px;}
h2{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
}